.container {
  width: 100%;
  height: 100%;
  max-width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media(min-width: 1200px) {
    max-width: 1210px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 940px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 740px;
  }

  @media (max-width: 420px) {
    max-width: 390px;
  }

  // @media(min-width: 425px) {
  //   max-width: 390px;
  // }

  // @media(min-width: 375px) {
  //   max-width: 340px;
  // }

  // @media(min-width: 320px) {
  //   max-width: 300px;
  // }
}

.container-sm {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  @media(max-width: 768px) {
    max-width: 690px;
  }

  @media(max-width: 425px) {
    max-width: 390px;
  }

  @media(max-width: 375px) {
    max-width: 340px;
  }

  @media(max-width: 320px) {
    max-width: 300px;
  }
}

.container-md {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1140px;
  }

  @media(max-width: 768px) {
    max-width: 690px;
  }

  @media(max-width: 425px) {
    max-width: 390px;
  }

  @media(max-width: 375px) {
    max-width: 340px;
  }

  @media(max-width: 320px) {
    max-width: 300px;
  }
}

.section__title {

  .title {
    @include font-bold(40px,#3a3a3a);

    @media (max-width: 375px) {
      font-size: 34px;
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 8px;
  right: -12px;
}

html {
  overflow: auto;
}

.overflow-auto {
  overflow: auto;
}

.content {
  // margin-bottom: 100px;
}

body {
  color: #3a3a3a;
}