.blog {

  &__inner {
    width: 100%;
    padding: 44px 20px;
  }

  &-title {
    text-align: center;
  }

  &__cards {
    width: 100%;
  }

  &__card {
    width: calc(390px - 30px);
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    @include autoprefixer(transition, all .2s ease-in-out);

    &:hover {
      box-shadow: 0px 5px 10px 0px #d3d3d3;
    }

    @media(max-width: 768px) {
      width: 240px;
    }

    @media (max-width: 375px) {
      margin-right: 8px;
      margin-left: 8px;
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-body {
      background-color: #ffffff;
      padding: 16px;

      @media(max-width: 768px) {
        padding: 10px;
      }

      @media (max-width: 375px) {
        text-align: center;
      }
    }

    &-title {
      @include font-semibold(24px,#3a3a3a);
      margin-bottom: 8px;

      @media(max-width: 768px) {
        font-size: 18px;
      }
    }

    &-date {
      @include font-regular(14px,#898989);

      @media(max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &__carousel {
    padding-top: 30px;

    &-items {
      width: 100%;

      .slick-track {
        padding-bottom: 30px;
      }
    }

    &-dots {
      @include flex-rule(center, center);

      li.slick-active button{
        border: 1px solid #e89f7e;

        &::before  {
          background-color: #e89f7e;
        }
      }

      li button {
        font-size: 0;
        width: 26px;
        height: 26px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        border: 1px solid transparent;
        display: block;
        cursor: pointer;
        margin-right: 4px;
        @include autoprefixer(transition, all .3s ease-in-out);
  
        &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #d8d8d8;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 10;
          transform: translate(-50%, -50%);
          @include autoprefixer(transition, all .3s ease-in-out);
        }
      }

      li:hover button{
        &::before  {
          background-color: #e89f7e;
        }
      }
    }
  }
}