.service {
  &__items {
    padding: 88px 0;
    @include flex-rule(between, center);

    @media (max-width: 768px) {
      padding-left: 20px;
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 50px;
      grid-row-gap: 50px;
    }

    @media (max-width: 425px) {
      display: block;
      padding-left: 0px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__item {
    width: 25%;
    @include flex-rule(center, center);

    @media (max-width: 1200px) {
      width: 23%;
    }

    @media (max-width: 991px) {
      text-align: center;
      display: block;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 425px) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-img {
      margin-right: 24px;

      @media (max-width: 991px) {
        margin-right: 0px;
        margin-bottom: 10px;
      }

      @media (max-width: 375px) {
        width: 45px;
        height: 45px;
      }
    }

    &-title {
      @include font-semibold(18px,#3a3a3a);
      margin-bottom: 2px;

      @media (max-width: 375px) {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }

    &-text {
      @include font-medium(16px,#898989);
    }
  }
}